* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: auto;
  max-width: 1280px;
  font-family: "Montserrat", sans-serif;
}

section {
  margin: auto;
  max-width: 80%;
}

.header {
  display: flex;
  background-color: #bbbbbb;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

header img {
  width: 120px;
  margin: 20px;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  transition: 0.3s;
}

nav li a:hover {
  color: #c78c19;
  text-decoration: overline;
}

.produtos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.produto p {
  padding: 10px;
}

.produtos li img {
  max-width: 250;
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 20%;
  text-align: center;
  padding: 10px;
}

.produtos li:hover {
  border-color: #c78c19;
  cursor: pointer;
}

.produtos li:hover h2 {
  color: gold;
  font-size: 30px;
}

#tabela {
  margin: auto;

  font-size: 24px;
}

th,
tr,
td {
  border: 1px solid black;
  margin-right: 5px;
  padding: 20px;
}

table {
  margin: 20px;
  text-align: center;

  margin: auto;
  border: 1px solid black;
}

/*---------------------------------------------------------------------------------------------------*/

#main-formulario {
  display: flex;
  margin: 40px;
}

#form {
  width: 50%;
}

form#formulario {
  width: 100%;
}

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

form label,
form legend {
  font-size: 20px;
}

form legend {
  margin: 10px 0;
}

#meiosContato {
  display: flex;
  flex-direction: column;
  margin: 10px 0 20px 0;
}

form input.input,
textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 200px;
  margin: 10px 0 20px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  resize: none;
  outline: none;
}

#form {
  width: 50%;
  display: flex;
}

#form-enviar {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
}

#enviarForm {
  text-transform: uppercase;
  background-color: lightgreen;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  font-weight: 900;
  color: black;
  transition: 1s background;
  cursor: pointer;
}

fieldset {
  margin: 10px;
  margin-bottom: 20px;
}

#enviarForm:hover {
  color: white;
  background-color: green;
  transform: scale(1.2);
}

/*---------------------------*/

#footer {
  padding: 20px;
  text-align: center;
  color: white;
  background-image: url(../assets/bg.jpg);
  font-size: 13px;
}

/* banner */
.banner {
  min-width: 100%;
}

.principal {
  clear: left;
}

.principal h2,
h3 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.principal p {
  font-size: 16px;
  margin: 1rem;
}

.principal strong {
  font-weight: 700;
}

.principal em {
  font-style: italic;
}

.principal ul {
  list-style: none;
}

.imagem--beneficios {
  width: 60%;
}

.lista--beneficios li::before {
  content: "⛤ ";
}

.utensilios {
  width: 120px;
  border-radius: 5px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  text-align: center;
  padding: 20px;
}

.mapa p {
  margin: 0 0 2rem 0;
}

.video {
  width: 560px;
  margin: 20px auto;
}

.beneficios--container {
  display: flex;
  align-items: center;
}
.beneficios--container li {
  padding: 5px;
}

@media screen and (max-width: 480px) {
  body {
    width: 100vw;
  }
  
  .header {
    width: 100vw;
  }

  .banner {
    width: 100vw;
  }

  .video {
    width: 100%;
  }
}
